.phone-container {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
  }
  
  .phone-mockup {
    /* width: 350px;
    transform: rotate(-15deg); */
    /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); */
  }
  